header {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.header-content > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.header-content > .content {
  position: absolute;
  display: grid;
  gap: 36px;
  place-items: center;
  left: 50%;
  top: 40%;
  transform: translate(-50%,-50%);
}

.header-content > .content h1 {
  font-family: 'Fraunces', sans-serif;
  font-weight: 800;
  color: var(--white);
  font-size: 56px;
  text-transform: uppercase;
  letter-spacing: 8px;
  white-space: nowrap;
}

.header-content > .content > a > img {
  height: 120px;
  width: auto;
  animation: arrow-down-move 1s ease-in infinite alternate;
}

@keyframes arrow-down-move {
  to {
    transform: translateY(40px);
  }
}